{% extends "base.html" %}

{% block title %}Home - Korobov Labs{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="../media/css/home.css">{% endblock %}
{% block script %}{% endblock %}

{% block content %}
<div class="content">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
	  	<div class="carousel-inner">
			<div class="active item">
				<img align="center" src="../media/img/obama-inaugural-speech-tag-cloud1.png" />
			</div>
			<div class="item">
				<img align="center" src="../media/img/obama-inaugural-speech-tag-cloud1.png" />
			</div>
			<div class="item">
				<img align="center" src="../media/img/obama-inaugural-speech-tag-cloud1.png" />
			</div>
	  	</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>
{% endblock %}
