{% extends "base.html" %}

{% block title %}Home - Korobov Labs{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="../media/css/home.css">{% endblock %}
{% block script %}{% endblock %}

{% block content %}
<div class="content">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
	  	<div class="carousel-inner">
			<div class="active item">
				<img align="center" src="../media/img/r2d2.jpg" />
				<div class="carousel-caption">
					<h4>Artificial Intelligence. Machine Learning.</h4>
					<p>
						Text categorization. Images recognition. Digging video for specific data.
                        AI agents with behavior. We implement ideas in different programming languages.
                        We speak Python, Java, C#, C/C++.
					</p>
                </div>
			</div>
			<div class="item">
				<img align="center" src="../media/img/rubic.jpg" />
				<div class="carousel-caption">
					<h4>Tranings and Hackatons</h4>
					<p>
						AI for games. Rubic. Network game in Python. Natural Language Processing libraries
                        development in C#. Hadoop-based hackathons with Java, C# and Python.
					</p>
                </div>
			</div>
			<div class="item">
				<img align="center" src="../media/img/dali.jpg" />
				<div class="carousel-caption">
					<h4>Research</h4>
					<p>
						Prototyping ideas.
					</p>
                </div>
			</div>
              <div class="item">
                  <img align="center" src="../media/img/csharp.jpg" />
                  <div class="carousel-caption">
                      <h4>Natural Language Processing + AI/ML in C#. </h4>
                      <p>
                          Microsoft .net platform is amazing and really cool. Now we work primarily with Java and Python
                          because we feel the lack of libraries for Artificial Intelligence, Machine Learning and
                          Natural Language processing for .net platform.
                          Our mission is to enhance support for AI/ML/NLP in .net, make it available for research and
                          production.
                      </p>
                  </div>
              </div>
	  	</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>
{% endblock %}
