html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
.container {
    background: white;
    min-height: 100%;
}
.center {
    margin: auto;
	width: 400px;
}
.main {
	color: #9fa2a6;
	padding-top: 83px;
	padding-bottom: 73px;
}
.standart-width {
	max-width: 386px;
	width: 100%;
}
.header {
    background: whiteSmoke;
    border-bottom: 1px solid #eee;
    height: 44px;
    margin-bottom: -73px;
    position: relative;
    padding: 14px;
    padding-left: 50px;
}
.header-name {
	color: #9fa2a6;
	float: left;
	font-family: sans-serif;
	font-size: 32px;
	font-weight: lighter;
	line-height: 27px;
}
.header-menu {
	float: right;
	margin: 8px 50px 10px 0;
}
.footer {
	background: whiteSmoke;
	border-top: 1px solid #eee;
	font-family: sans-serif;
	font-weight: lighter;
	height: 29px;
	line-height: 27px;
	margin-top: -50px;
	position:relative;
	padding: 10px;
	padding-left: 50px;
}
